{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":105,"column":0},"end":{"row":105,"column":6},"action":"remove","lines":["media/"],"id":2},{"start":{"row":104,"column":9},"end":{"row":105,"column":0},"action":"remove","lines":["",""]}]]},"ace":{"folds":[],"scrolltop":1134.5,"scrollleft":0,"selection":{"start":{"row":98,"column":5},"end":{"row":98,"column":5},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":93,"state":"start","mode":"ace/mode/text"}},"timestamp":1567759192489,"hash":"e8aad2ce79229e37899ae796e57a108735847eef"}